<header class="header">
  <div class="container header__box">
    <div class="header__logo">
      <img src="img/logo.png" alt="Mountains">
    </div>
  <nav class="header__nav">
    <a href="#" class="nav__link link">our story</a>
    <a href="#" class="nav__link link">services</a>
    <a href="#" class="nav__link link">work</a>
    <a href="#" class="nav__link link">journal</a>
    <a href="#" class="nav__link link">contact</a>
    <a href="#" class="nav__link link">work</a>
    <a href="#" class="nav__link link">journal</a>
  </nav>
  <button class="header__btn">Call us</button>
  </div>
</header>
